
body {	# *line 41*
    background: #fff;
    color: #777;
}

body #chapter h1 {
    font-size: 3.5rem;
}

body {	# *line 413*
    font-family: "Work Sans", "Open Sans", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
    font-weight: 300;
    line-height: 1.6;
    font-size: 18px !important;
}

h2, h3, h4, h5, h6 {
    font-family: "Work Sans", "Open Sans Semibold", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
    text-rendering: optimizeLegibility;
    color: #5e5e5e;
    letter-spacing: -1px;
}

h1 {
    font-family: "Novacento Sans Wide", "Open Sans Light", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
    text-align: center;
    text-transform: uppercase;
    color: #222;
    font-weight: 200;
}

body {	# *line 1111*
    font-size: 16px !important;
    color: #323232 !important;
}
