:root{

    --MAIN-TEXT-color:#323232; /* Color of text by default */
    --MAIN-TITLES-TEXT-color: #5e5e5e; /* Color of titles h2-h3-h4-h5 */
    --MAIN-LINK-color:#0082ed; /* Color of links */
    --MAIN-LINK-HOVER-color:#0082ed; /* Color of hovered links */
    --MAIN-ANCHOR-color: #eeeeee; /* color of anchors on titles */

    --MAIN-CODE-color: #e2e4e5; /* fallback color for code background */
    --MAIN-CODE-BG-color: #282a36; /* fallback color for code text */

    --MENU-HOME-LINK-color: #323232; /* Color of the home button text */
    --MENU-HOME-LINK-HOVER-color: #5e5e5e; /* Color of the hovered home button text */

    --MENU-HEADER-BG-color:#0084ba; /* Background color of menu header */
    --MENU-HEADER-BORDER-color:#0084ba; /*Color of menu header border */

    --MENU-SEARCH-BG-color:#f0f0f0; /* Search field background color (by default borders + icons) */
    --MENU-SEARCH-BOX-color: #f0f0f0; /* Override search field border color */
    --MENU-SEARCH-BOX-ICONS-color: #0084ba; /* Override search field icons color */

    --MENU-SECTIONS-ACTIVE-BG-color:#0084ba; /* Background color of the active section and its childs */
    --MENU-SECTIONS-BG-color:#0084ba; /* Background color of other sections */
    --MENU-SECTIONS-LINK-color: #fafafa; /* Color of links in menu */
    --MENU-SECTIONS-LINK-HOVER-color: #00d0d6;  /* Color of links in menu, when hovered */
    --MENU-SECTION-ACTIVE-CATEGORY-color: #0084ba; /* Color of active category text */
    --MENU-SECTION-ACTIVE-CATEGORY-BG-color: #ffffff; /* Color of background for the active category (only) */

    --MENU-VISITED-color: #00da33; /* Color of 'page visited' icons in menu */
    --MENU-SECTION-HR-color: #004fd0; /* Color of <hr> separator in menu */

}

/* Redefine notices color render */
div.notices.warning {
    border-color: #004fd0;
    background-color: #f7f7f7;
}

div.notices.note {
    border-color: #00a5d0;
    background-color: #f7f7f7;
}

div.notices.tip {
    border-color: #799ba5;
    background-color: #f7f7f7;
}

div.notices.info {
    border-color: #4897CC;
    background-color: #f7f7f7;
}

/* Render start page */
.signature-item {
    grid-area: evl_signature_area;
}

.overview-item {
    grid-area: overview_button_area;
}

.repo-table-item {
    grid-area: repo_table_area;
    justify-self: center;
}

.home-grid-container {
  display: grid;
  grid-template-areas:	    "evl_signature_area"
			    "overview_button_area"
			    "repo_table_area" ;
  grid-template-columns: auto;
  grid-template-rows: 320px 120px auto;
  grid-gap: 50px;
  background-color: #0084ba;
  padding: 0px;
}

.home-grid-container > div {
  background-color: #0084ba;
  text-align: center;
  padding: 20px 0;
  font-size: 18px;
}

.bigbutton {
  background-color: #0084ba;
  border: none;
  color: #fff;
  padding: 15px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 22px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  border: 2px solid #fff;
}

.bigbutton:hover {
  background-color: #00d2ed;
  color: white;
}

.bigbutton:active {
    transform: translateY(4px);
}

/* Mixed grid container */
.mixed-grid-container {
  display: grid;
  grid-template-areas: 'mixed_area mixed_area';
  grid-template-columns: 600px auto;
  grid-gap: 0px;
  padding: 0px;
}

.mixed-grid-container > div {
  text-align: justify;
  padding: 0px 0;
}

.mixed-grid-right-container {
  display: grid;
  grid-template-areas: 'mixed_area mixed_area';
  grid-template-columns: auto 600px;
  grid-gap: 0px;
  padding: 0px;
}

.mixed-grid-right-container > div {
  text-align: justify;
  padding: 0px 0;
}

.mixed-grid-small-container {
  display: grid;
  grid-template-areas: 'mixed_area mixed_area';
  grid-template-columns: auto 500px;
  grid-gap: 30px;
  padding: 0px;
}

.mixed-grid-small-container > div {
  text-align: justify;
  padding: 0px 0;
}

/* TODO */

a {
    color: var(--MAIN-LINK-color);
}

.anchor {
    color: var(--MAIN-ANCHOR-color);
}

a:hover {
    color: var(--MAIN-LINK-HOVER-color);
}

#sidebar ul li.visited > a .read-icon {
	color: var(--MENU-VISITED-color);
}

